
.footer-foot{
    padding: 10px 0;
    // background-color: #2F2B4A;
    color: white;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-foot-icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;

        i{
            font-size: 26px;
            color: white;
            cursor: pointer;
        }
    }

    .footer-last-text{
        word-spacing: 15px;
    }
    
}