.tovari{
padding: 30px 0;

&-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &-card{
        border: 2px solid $second-color;
        border-radius: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 10px 20px;

        &:hover{
        box-shadow: 0px 4px 10px 0px #0000001A;
        cursor: pointer;
        transform: scale(1.02);
        transition: 0.4s;

        .tovari-cards-card-text{
            color: $buttons-color;
        }

        }

        &-image{

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &-text{
            margin-left: 60px;

            p{
                margin: 15px 0;
            }
        }


    }

     .last{
            background-image:  url(../images/tovari/foncs.png) ;
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;


           &-image{
                img{
                    object-fit: cover;
                }
            }

          p{
            margin-left: 60px;
            color: $buttons-color;
            font-weight: bold;
          }

          i{
            margin-left: 25px;
            font-size: 20px;
            color: $buttons-color;
          }
        }

}
}

@media(min-width: 576px) and (max-width: 768px){
.tovari{
    box-shadow: 0px 4px 10px 0px #0000001A;
    
    &-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

       
    }
}
}