* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: 0 auto;
}
@media (max-width: 720px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

.btn {
  padding: 10px 0;
  background-color: #FF9431;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 22px;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.5s;
}

.inp {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #6B59CC;
  outline: transparent;
  color: #6B59CC;
  font-weight: 600;
}

.active {
  display: flex;
}

.hidden {
  display: none !important;
}

.how:hover {
  background-color: red;
}

.hiddenColor {
  background-color: transparent;
}

.bacColor {
  background-color: #FF9431;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(170, 170, 170, 0.2666666667);
  z-index: 9;
}
.header-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.header-up-menu {
  display: none;
}
.header-up-menu i {
  color: #FF9431;
  font-size: 18px;
}
.header-up-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  border: none;
  background-color: #d4e3f3;
  border-radius: 10px;
  padding: 5px 10px;
}
.header-up-input input {
  padding: 0 5px 0;
  flex: 1;
  font-size: 12px;
  border: none;
  outline: none;
  color: #FF9431;
  background-color: #d4e3f3;
}
.header-up-input i {
  color: #FF9431;
  cursor: pointer;
}
.header-up-location {
  display: flex;
  justify-content: space-between;
  width: 140px;
}
.header-up-location i {
  color: #FF9431;
  cursor: pointer;
}
.header-up-numbers {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.header-up-numbers i {
  color: #FF9431;
  cursor: pointer;
}
.header-up-user {
  display: flex;
  justify-content: space-between;
  width: 140px;
}
.header-up-user i {
  color: #FF9431;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .header-up-location {
    width: auto;
  }
  .header-up-location p {
    font-size: 14px;
    margin-left: 5px;
  }
  .header-up-numbers {
    width: auto;
  }
  .header-up-numbers p {
    font-size: 14px;
    margin-left: 5px;
  }
  .header-up-user {
    width: auto;
  }
  .header-up-user span {
    font-size: 14px;
    margin-left: 5px;
  }
}
@media (max-width: 970px) {
  .header-up p {
    font-size: 12px;
  }
  .header-up img {
    width: 130px;
  }
  .header-up-input {
    width: 160px;
  }
  .header-up-input input {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header-up img {
    width: 140px;
  }
  .header-up-input {
    width: 160px;
  }
  .header-up-input input {
    width: 100%;
  }
  .header-up-location {
    width: auto;
    display: flex;
    justify-content: center;
  }
  .header-up-location p {
    display: none;
  }
  .header-up-numbers {
    width: auto;
    display: flex;
    justify-content: center;
  }
  .header-up-numbers p {
    display: none;
  }
  .header-up-user {
    width: auto;
    display: flex;
    justify-content: center;
  }
  .header-up-user span {
    display: none;
  }
}
@media (min-width: 220px) and (max-width: 576px) {
  .header-up-menu {
    display: block;
  }
  .header-up img {
    width: 130px;
  }
  .header-up-input {
    display: none;
  }
  .header-up-location {
    width: auto;
    display: flex;
    justify-content: center;
  }
  .header-up-location p {
    display: none;
  }
  .header-up-numbers {
    width: auto;
    display: flex;
    justify-content: center;
  }
  .header-up-numbers p {
    display: none;
  }
  .header-up-user {
    width: auto;
    display: flex;
    justify-content: center;
  }
  .header-up-user span {
    display: none;
  }
}
.header-line {
  height: 3px;
  width: 100%;
  background-color: #d4e3f3;
}
.header-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.header-down-katigori {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 4px 10px;
  border: 1px solid #FF9431;
}
.header-down-katigori i {
  color: #FF9431;
  padding: 4px 10px;
}
.header-down-katigori p a {
  color: white;
  text-decoration: none;
}
.header-down-katigori:hover {
  cursor: pointer;
  transform: scale(1.04);
  background-color: #FF9431;
}
.header-down-katigori:hover i {
  color: white;
}
.header-down-katigori:hover p a {
  color: white;
}
.header-down-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  border: none;
  background-color: #d4e3f3;
  border-radius: 10px;
  padding: 5px 10px;
  display: none;
}
.header-down-input input {
  padding: 0 5px 0;
  flex: 1;
  font-size: 12px;
  border: none;
  outline: none;
  color: #FF9431;
  background-color: #d4e3f3;
}
.header-down-input i {
  color: #FF9431;
  cursor: pointer;
}
.header-down p:hover {
  background-color: #FF9431;
  border-radius: 5px;
  transition: 0.4s;
  transform: scale(1.04);
}
.header-down p:hover a {
  color: white;
}
.header-down p a {
  text-decoration: none;
  color: black;
}
.header-down .karzina {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.header-down .karzina i {
  color: #FF9431;
}
.header-down .karzina:hover {
  background-color: #FF9431;
  color: white;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 10px;
}
.header-down .karzina:hover i {
  color: white;
}
.header-down .karzina:hover p a {
  color: white;
}
@media (max-width: 1175px) {
  .header .header-down p {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .header .header-down p {
    font-size: 14px;
  }
  .header .header-down p:nth-child(n+5):nth-child(-n+7) {
    display: none;
  }
}
@media (max-width: 576px) {
  .header .header-down-input {
    display: flex;
  }
  .header .header-down p {
    display: none;
  }
  .header .header-down-katigori p {
    display: block;
  }
}
@media (min-width: 300px) and (max-width: 440px) {
  .header .header-down-katigori {
    padding: 1px 3px;
  }
  .header .header-down-input {
    width: 140px;
  }
  .header .header-down-input input {
    width: 100%;
  }
  .header .header-down .karzina i {
    display: none;
  }
}

.main {
  padding: 20px 0;
  background-color: #FAFAFD;
}

.banner2 {
  padding: 30px 0;
  display: none;
}
.banner2-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/banner2/banner2-fonimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.banner2-bg-texts {
  padding-left: 30px;
}
.banner2-bg-texts-tittle {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
}
.banner2-bg-texts-tittle span {
  background-color: #fb6019;
  padding: 4px 8px;
  border-radius: 10px;
}
.banner2-bg-texts-text {
  padding: 15px 0;
  font-weight: 400;
  font-size: 18px;
}
.banner2-bg-texts-lines {
  display: flex;
  align-items: center;
}
.banner2-bg-texts-lines-line {
  height: 5px;
  width: 55px;
  background-color: grey;
  border-radius: 10px;
}
.banner2-bg-texts-lines-line:nth-child(1) {
  background-color: white;
}
.banner2-bg-texts-lines-line:nth-child(2) {
  margin: 35px 25px;
}
.banner2-bg-texts-lines-line:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.4s;
  background-color: #FF9431;
}
.banner2-bg-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner2-bg-icons-icon {
  height: 30px;
  width: 40px;
  background-color: white;
  color: #FF9431;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.banner2-bg-icons-icon i {
  font-size: 20px;
}
.banner2-bg-icons-icon:nth-child(1) {
  position: absolute;
  left: -15px;
}
.banner2-bg-icons-icon:nth-child(2) {
  position: absolute;
  right: -15px;
}
.banner2-bg-icons-icon:hover {
  cursor: pointer;
  background-color: #FF9431;
  color: white;
  transition: 0.4s;
  transform: scale(1.02);
}

@media (min-width: 769px) and (max-width: 1010px) {
  .banner2-bg-texts-tittle {
    font-size: 30px;
    line-height: 40px;
  }
  .banner2-bg-texts-tittle span {
    font-size: 30px;
  }
  .banner2-bg-texts-lines-line {
    width: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .banner2 {
    display: block;
  }
  .banner2-bg-tittle {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
  }
  .banner2-bg-img img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .banner2 {
    display: none;
  }
}
@media (max-width: 768px) {
  .banner1 {
    padding: 20px 0;
  }
  .banner1-bg {
    position: relative;
  }
  .banner1-bg-sides {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid rgb(87, 104, 151);
    background-color: rgba(210, 206, 216, 0.356);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  .banner1-bg-sides-texts {
    padding: 20px 0 20px 15px;
  }
  .banner1-bg-sides-texts-tittle {
    color: #FF9431;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
  }
  .banner1-bg-sides-texts p {
    padding: 15px 0 30px;
    font-weight: 400;
    font-size: 20px;
  }
  .banner1-bg-sides-right {
    padding: 20px;
  }
  .banner1-bg-sides-right-circle {
    position: absolute;
    top: -10%;
    right: -22%;
    height: 400px;
    width: 400px;
    background-color: rgba(135, 199, 241, 0.404);
    border-radius: 50%;
  }
  .banner1-bg-sides-right-img-images {
    width: 200px;
    position: relative;
    padding: 15px 0;
  }
  .banner1-bg-sides-right-img-images img:nth-child(1) {
    height: 140px;
  }
  .banner1-bg-sides-right-img-images img:nth-child(2) {
    position: absolute;
    right: 10px;
    top: 25px;
  }
  .banner1-bg-sides-right-img-images img:nth-child(3) {
    position: absolute;
    top: 9px;
    right: 28px;
    height: 140px;
  }
  .banner1-bg-lines {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    position: absolute;
    bottom: 2%;
    left: 30%;
  }
  .banner1-bg-lines-line {
    height: 5px;
    width: 50px;
    background-color: rgb(87, 104, 151);
    border-radius: 10px;
  }
  .banner1-bg-lines-line:hover {
    background-color: #FF9431;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
  }
  .banner1-bg-icons {
    display: flex;
    align-items: center;
  }
  .banner1-bg-icons-icon {
    padding: 4px 8px;
    border-radius: 10px;
    background-color: rgb(87, 104, 151);
    color: white;
  }
  .banner1-bg-icons-icon:nth-child(1) {
    position: absolute;
    left: -2%;
    top: 50%;
    transform: translateY(-50%);
  }
  .banner1-bg-icons-icon:nth-child(2) {
    position: absolute;
    right: -2%;
    top: 50%;
    transform: translateY(-50%);
  }
  .banner1-bg-icons-icon:hover {
    background-color: white;
    color: #FF9431;
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.5s;
  }
}
@media (max-width: 560px) {
  .banner1-bg-sides-texts {
    padding: 15px 0 15px 10px;
  }
  .banner1-bg-sides-texts-tittle {
    font-size: 15px;
    line-height: 30px;
  }
  .banner1-bg-sides-texts p {
    padding: 15px 0 30px;
    font-size: 16px;
  }
  .banner1-bg-sides-right-circle {
    top: 2%;
    right: -40%;
  }
  .banner1-bg-sides-right-img-images {
    width: 180px;
    padding: 15px 0;
    position: absolute;
    right: -2%;
    bottom: 0;
  }
  .banner1-bg-sides-right-img-images img:nth-child(1) {
    height: 120px;
  }
  .banner1-bg-sides-right-img-images img:nth-child(2) {
    height: 110px;
    right: 10px;
    top: 25px;
  }
  .banner1-bg-sides-right-img-images img:nth-child(3) {
    top: 20px;
    right: 30px;
    height: 115px;
  }
  .banner1-bg-lines {
    width: 35%;
  }
  .banner1-bg-lines-line {
    width: 35px;
  }
}
@media (max-width: 490px) {
  .banner1-bg-sides-texts {
    padding: 15px 0 15px 10px;
  }
  .banner1-bg-sides-texts-tittle {
    font-size: 15px;
    line-height: 30px;
  }
  .banner1-bg-sides-texts p {
    padding: 15px 0 30px;
    font-size: 16px;
    line-height: 26px;
    width: 170px;
  }
  .banner1-bg-sides-right-circle {
    top: 2%;
    right: -55%;
  }
  .banner1-bg-sides-right-img-images {
    width: 180px;
    padding: 15px 0;
    position: absolute;
    right: -4%;
    bottom: 0;
  }
  .banner1-bg-sides-right-img-images img:nth-child(1) {
    height: 120px;
  }
  .banner1-bg-sides-right-img-images img:nth-child(2) {
    height: 110px;
    right: 10px;
    top: 25px;
  }
  .banner1-bg-sides-right-img-images img:nth-child(3) {
    top: 20px;
    right: 30px;
    height: 115px;
  }
  .banner1-bg-lines {
    width: 35%;
    left: 20%;
  }
  .banner1-bg-lines-line {
    width: 20px;
  }
}
@media (max-width: 385px) {
  .banner1-bg-sides-texts {
    padding: 15px 0 15px 10px;
  }
  .banner1-bg-sides-texts-tittle {
    font-size: 15px;
    line-height: 30px;
  }
  .banner1-bg-sides-texts p {
    padding: 15px 0 30px;
    font-size: 16px;
    line-height: 26px;
    width: 170px;
  }
  .banner1-bg-sides-right-circle {
    top: 10%;
    right: -65%;
  }
  .banner1-bg-sides-right-img-images {
    width: 180px;
    padding: 15px 0;
    position: absolute;
    right: -10%;
    bottom: 0;
  }
  .banner1-bg-sides-right-img-images img:nth-child(1) {
    height: 100px;
  }
  .banner1-bg-sides-right-img-images img:nth-child(2) {
    display: none;
  }
  .banner1-bg-sides-right-img-images img:nth-child(3) {
    top: 20px;
    right: 30px;
    height: 100px;
  }
  .banner1-bg-lines {
    width: 35%;
    left: 15%;
  }
  .banner1-bg-lines-line {
    width: 15px;
  }
}
@media (max-width: 330px) {
  .banner1 {
    display: none;
  }
}
@media (min-width: 769px) {
  .banner1 {
    display: none;
  }
}
.tovari {
  padding: 30px 0;
}
.tovari-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tovari-cards-card {
  border: 2px solid #d4e3f3;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.tovari-cards-card:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.4s;
}
.tovari-cards-card:hover .tovari-cards-card-text {
  color: #FF9431;
}
.tovari-cards-card-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tovari-cards-card-text {
  margin-left: 60px;
}
.tovari-cards-card-text p {
  margin: 15px 0;
}
.tovari-cards .last {
  background-image: url(../images/tovari/foncs.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tovari-cards .last-image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.tovari-cards .last p {
  margin-left: 60px;
  color: #FF9431;
  font-weight: bold;
}
.tovari-cards .last i {
  margin-left: 25px;
  font-size: 20px;
  color: #FF9431;
}

@media (min-width: 576px) and (max-width: 860px) {
  .tovari {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1019607843);
  }
  .tovari-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  .tovari-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .tovari-cards-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
  }
  .tovari-cards-card-text {
    margin: 0;
  }
  .tovari-cards-card-text p {
    margin: 5px 0;
  }
  .tovari-cards .last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 10px;
  }
  .tovari-cards .last p {
    margin-left: 0;
    color: #FF9431;
    font-size: 14px;
    padding: 5px 0;
  }
  .tovari-cards .last i {
    margin-left: calc(100% - 35px);
    font-size: 15px;
    color: #FF9431;
  }
}
.avtomasla {
  padding: 30px 0;
  background-color: white;
}
.avtomasla-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px;
}
.avtomasla-header h4 {
  font-weight: 400px;
  font-size: 24px;
}
.avtomasla-header button {
  padding: 10px 14px;
  background-color: #d4e3f3;
  border: none;
  border-radius: 10px;
  color: #FF9431;
  font-weight: 400px;
  font-size: 14px;
  cursor: pointer;
}
.avtomasla-header button:hover {
  transform: scale(1.04);
  transition: 0.4s;
  background-color: #FF9431;
  color: white;
}
.avtomasla-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.avtomasla-cards-card {
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  height: 450px;
}
.avtomasla-cards-card-bg {
  background-color: #5946d7;
  position: relative;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.avtomasla-cards-card-bg-tittle {
  color: white;
  font-weight: 700;
  font-size: 24px;
  padding: 15px;
  position: absolute;
  top: 5%;
}
.avtomasla-cards-card-bg-circle {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: #f8944b;
  position: absolute;
  top: 40%;
  left: -5%;
}
.avtomasla-cards-card-bg-images {
  position: absolute;
  bottom: -5px;
  left: 48%;
}
.avtomasla-cards-card-bg-images-bg {
  position: relative;
}
.avtomasla-cards-card-bg-images-bg img {
  height: 170px;
}
.avtomasla-cards-card-bg-images-bg .first-img {
  position: absolute;
  height: 250px;
  top: -46%;
  left: -75%;
}
.avtomasla-cards-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.0705882353);
  transition: 0.4s;
}
.avtomasla-cards-card-image {
  height: 50%;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avtomasla-cards-card-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px 10px 0 0;
}
.avtomasla-cards-card-main {
  height: 50%;
  padding: 20px 5px;
}
.avtomasla-cards-card-main-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.avtomasla-cards-card-main-text p {
  font-size: 12px;
  margin-left: 5px;
}
.avtomasla-cards-card-main-text p span {
  color: grey;
}
.avtomasla-cards-card-main-text-stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.avtomasla-cards-card-main-text-stars i {
  color: #ff9431;
}
.avtomasla-cards-card-main-text-stars i:nth-child(5) {
  color: grey;
}
.avtomasla-cards-card-main p {
  padding: 10px 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.avtomasla-cards-card-main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avtomasla-cards-card-main-footer p sup {
  color: grey;
  text-decoration-line: line-through;
}
.avtomasla-cards-card-main-footer-icon {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: 2px solid #FF9431;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avtomasla-cards-card-main-footer-icon i {
  color: #FF9431;
  font-size: 20px;
}
.avtomasla-cards-card-main-footer-icon:hover {
  background-color: #FF9431;
  transition: 0.4s;
}
.avtomasla-cards-card-main-footer-icon:hover i {
  color: white;
}
.avtomasla-bottom {
  padding: 30px 0;
}
.avtomasla-bottom-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.avtomasla-bottom-cards-card {
  background-color: #dedee2;
  position: relative;
  min-height: 250px;
  overflow: hidden;
}
.avtomasla-bottom-cards-card:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.avtomasla-bottom-cards-card p {
  font-weight: 400;
  font-size: 24px;
  width: 50%;
  margin: 30px auto auto 20px;
  line-height: 32px;
}
.avtomasla-bottom-cards-card button {
  position: absolute;
  top: 40%;
  left: 5%;
  padding: 8px 18px;
  border-radius: 10px;
  border: none;
  background-color: #410f9e;
  color: white;
  font-weight: 400;
}
.avtomasla-bottom-cards-card button i {
  margin-left: 10px;
}
.avtomasla-bottom-cards-card button:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: white;
  color: #FF9431;
  font-weight: bold;
}
.avtomasla-bottom-cards-card img {
  position: absolute;
  top: 80px;
  right: 10px;
}
.avtomasla-bottom-cards-card-circle {
  position: absolute;
  right: -25%;
  top: 30%;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  background-color: #ff9431;
}

@media (max-width: 1320px) {
  .avtomasla-cards-card-main-text-stars p {
    display: none;
  }
  .avtomasla-cards-card-main p {
    font-size: 16px;
  }
}
@media (max-width: 1054px) {
  .avtomasla-cards-card-main p {
    font-size: 12px;
  }
}
@media (max-width: 976px) {
  .avtomasla-cards {
    gap: 1px;
  }
  .avtomasla-cards-card-bg-circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #f8944b;
    position: absolute;
    top: 55%;
    left: -5%;
  }
  .avtomasla-cards-card-bg-images-bg img {
    height: 130px;
  }
  .avtomasla-cards-card-bg-images-bg .first-img {
    position: absolute;
    height: 180px;
    top: -38%;
  }
  .avtomasla-cards-card-bg-tittle {
    font-size: 18px;
    top: 15%;
  }
}
@media (max-width: 768px) {
  .avtomasla-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .avtomasla-cards-card-bg-tittle {
    font-weight: 700;
    font-size: 24px;
    padding: 15px;
    top: 5%;
  }
  .avtomasla-cards-card-bg-circle {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #f8944b;
    position: absolute;
    top: 40%;
    left: -5%;
  }
  .avtomasla-cards-card-bg-images {
    bottom: -5px;
    left: 48%;
  }
  .avtomasla-cards-card-bg-images-bg img {
    height: 170px;
  }
  .avtomasla-cards-card-bg-images-bg .first-img {
    height: 250px;
    top: -46%;
    left: -75%;
  }
  .avtomasla-cards-card-main p {
    font-size: 16px;
  }
}
@media (min-width: 300px) and (max-width: 425px) {
  .avtomasla-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .avtomasla-cards-card-bg-tittle {
    color: white;
    font-weight: 700;
    font-size: 24px;
    padding: 15px;
    position: absolute;
    top: 10%;
  }
  .avtomasla-cards-card-bg-circle {
    height: 500px;
    width: 500px;
    top: 55%;
    left: 0%;
  }
}
@media (max-width: 1100px) {
  .avtomasla-bottom-cards-card p {
    font-size: 20px;
    width: 50%;
    line-height: 28px;
  }
  .avtomasla-bottom-cards-card-circle {
    right: -45%;
    top: 35%;
    height: 280px;
    width: 280px;
  }
  .avtomasla-bottom-cards-card img {
    top: 41%;
    right: -2%;
    height: 150px;
  }
}
@media (max-width: 905px) {
  .avtomasla-bottom-cards-card p {
    font-size: 20px;
    width: 50%;
    line-height: 28px;
    margin-top: 20px;
    width: 80%;
  }
  .avtomasla-bottom-cards-card button {
    top: 40%;
    left: 5%;
    padding: 4px 8px;
    font-weight: 400;
  }
  .avtomasla-bottom-cards-card-circle {
    right: -60%;
    top: 50%;
    height: 280px;
    width: 280px;
  }
  .avtomasla-bottom-cards-card img {
    top: 55%;
    right: -2%;
    height: 120px;
  }
}
@media (max-width: 575px) {
  .avtomasla-bottom-cards {
    gap: 5px;
  }
  .avtomasla-bottom-cards-card p {
    font-size: 20px;
    width: 50%;
    line-height: 28px;
    margin-top: 20px;
    margin-left: 2px;
    width: 95%;
  }
  .avtomasla-bottom-cards-card button {
    top: 40%;
    left: 5%;
    padding: 4px 8px;
    font-weight: 400;
  }
  .avtomasla-bottom-cards-card-circle {
    right: -75%;
    top: 55%;
    height: 280px;
    width: 280px;
  }
  .avtomasla-bottom-cards-card img {
    top: 55%;
    right: -2%;
    height: 120px;
  }
}
@media (max-width: 425px) {
  .avtomasla-bottom-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .avtomasla-bottom-cards-card p {
    font-weight: 400;
    font-size: 24px;
    width: 50%;
    margin: 30px auto auto 20px;
  }
  .avtomasla-bottom-cards-card button {
    top: 40%;
    left: 5%;
    padding: 8px 18px;
  }
  .avtomasla-bottom-cards-card-circle {
    right: -25%;
    top: 30%;
    height: 280px;
    width: 280px;
  }
  .avtomasla-bottom-cards-card img {
    top: 80px;
    right: 10px;
    height: auto;
  }
}
@media (min-width: 300px) and (max-width: 334px) {
  .avtomasla-bottom-cards-card p {
    font-weight: 400;
    font-size: 24px;
    width: 50%;
    margin: 30px auto auto 20px;
  }
  .avtomasla-bottom-cards-card button {
    top: 40%;
    left: 5%;
    padding: 8px 18px;
  }
  .avtomasla-bottom-cards-card-circle {
    right: -35%;
    top: 45%;
    height: 280px;
    width: 280px;
  }
  .avtomasla-bottom-cards-card img {
    top: 40%;
    right: -2%;
    height: 150px;
  }
}
.taklif {
  padding: 30px 0;
}
.taklif-title {
  padding: 15px 0;
}
.taklif-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  gap: 10px;
}
.taklif-cards-card {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px 0;
  background-color: white;
  height: 450px;
}
.taklif-cards-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.0705882353);
  transition: 0.4s;
}
.taklif-cards-card-image {
  height: 50%;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.taklif-cards-card-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px 10px 0 0;
}
.taklif-cards-card-main {
  height: 50%;
  padding: 20px 5px;
}
.taklif-cards-card-main-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.taklif-cards-card-main-text p {
  font-size: 12px;
  margin-left: 5px;
}
.taklif-cards-card-main-text p span {
  color: grey;
}
.taklif-cards-card-main-text-stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.taklif-cards-card-main-text-stars i {
  color: #FF9431;
}
.taklif-cards-card-main-text-stars i:nth-child(5) {
  color: grey;
}
.taklif-cards-card-main p {
  padding: 10px 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.taklif-cards-card-main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taklif-cards-card-main-footer p sup {
  color: grey;
  text-decoration-line: line-through;
}
.taklif-cards-card-main-footer-icon {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: 2px solid #FF9431;
  display: flex;
  justify-content: center;
  align-items: center;
}
.taklif-cards-card-main-footer-icon i {
  color: #FF9431;
  font-size: 20px;
}
.taklif-cards-card-main-footer-icon:hover {
  background-color: #FF9431;
  transition: 0.4s;
}
.taklif-cards-card-main-footer-icon:hover i {
  color: white;
}
.taklif-cards-icon {
  position: absolute;
  height: 45px;
  width: 45px;
  border-radius: 5px;
  background-color: white;
  color: #FF9431;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -2%;
  top: 48%;
}
.taklif-cards-icon:hover {
  background-color: #FF9431;
  color: white;
  cursor: pointer;
}

@media (max-width: 985px) {
  .taklif-cards {
    gap: 5px;
  }
  .taklif-cards-card-main-text-stars p {
    display: none;
  }
  .taklif-cards-card-main p {
    font-size: 16px;
  }
}
@media (max-width: 817px) {
  .taklif-cards-card-main-text-stars span {
    display: none;
  }
  .taklif-cards-card-main p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .taklif-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .taklif-cards-icon {
    display: none;
  }
  .taklif-cards-card-bg-tittle {
    font-weight: 700;
    font-size: 24px;
    padding: 15px;
    top: 5%;
  }
  .taklif-cards-card-bg-circle {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #F8944B;
    position: absolute;
    top: 40%;
    left: -5%;
  }
  .taklif-cards-card-bg-images {
    bottom: -5px;
    left: 48%;
  }
  .taklif-cards-card-bg-images-bg img {
    height: 170px;
  }
  .taklif-cards-card-bg-images-bg .first-img {
    height: 250px;
    top: -46%;
    left: -75%;
  }
  .taklif-cards-card-main p {
    font-size: 16px;
  }
}
@media (min-width: 300px) and (max-width: 425px) {
  .taklif-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .taklif-cards-card-bg-tittle {
    color: white;
    font-weight: 700;
    font-size: 24px;
    padding: 15px;
    position: absolute;
    top: 10%;
  }
  .taklif-cards-card-bg-circle {
    height: 500px;
    width: 500px;
    top: 55%;
    left: 0%;
  }
}
.footers {
  background-color: #2f2b4a;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footers-top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding-bottom: 15px;
}
.footers-top ul li {
  list-style: none;
  font-size: 14px;
  line-height: 30px;
}
.footers-top ul li a {
  text-decoration: none;
  color: white;
}
.footers-top h3 {
  padding: 15px 0;
}
.footers-top h3 a {
  color: white;
  text-decoration: none;
}
.footers-top-consultations {
  color: white;
}
.footers-top-consultations-up {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(99, 133, 143, 0.459);
  padding: 8px;
  border-radius: 10px;
  margin-top: 10px;
}
.footers-top-consultations-up:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.4s;
}
.footers-top-consultations-up-text {
  margin-left: 10px;
}
.footers-top-consultations-up-text h4 {
  margin-top: 5px;
  padding: 2px 0;
}
.footers-top-consultations-up-text p {
  line-height: normal;
}
.footers-top-consultations-down {
  display: flex;
  margin-top: 15px;
}
.footers-top-consultations-down-circle .down-circle {
  margin-top: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(74, 231, 114, 0.384);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footers-top-consultations-down-circle .down-circle .down-middle-circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(2, 241, 2);
}
.footers-top-consultations-down-text p {
  margin-left: 10px;
}
.footers-top-consultations-last-text {
  margin-top: 15px;
  display: none;
}
.footers .footer-top-consultations {
  color: white;
  display: flex;
  align-items: center;
  margin: 10px auto 25px auto;
  display: none;
}
.footers .footer-top-consultations .consultations-up {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(99, 133, 143, 0.459);
  padding: 8px;
  border-radius: 10px;
  margin-right: 10%;
}
.footers .footer-top-consultations .consultations-up:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.4s;
}
.footers .footer-top-consultations .consultations-up-text {
  margin-left: 10px;
}
.footers .footer-top-consultations .consultations-up-text h4 {
  margin-top: 5px;
  padding: 2px 0;
}
.footers .footer-top-consultations .consultations-up-text p {
  line-height: normal;
}
.footers .footer-top-consultations .consultations-down {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.footers .footer-top-consultations .consultations-down-circle .down-circle {
  margin-top: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(74, 231, 114, 0.384);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footers .footer-top-consultations .consultations-down-circle .down-circle .down-middle-circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(2, 241, 2);
}
.footers .footer-top-consultations .consultations-down-text p {
  margin-left: 10px;
  width: 50%;
  line-height: 25px;
}
.footers .footer-top-consultations-lasttext {
  word-spacing: 65px;
}
.footers-bottom {
  padding: 15px 0;
  color: white;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footers-bottom-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.footers-bottom-icons i {
  font-size: 26px;
  color: white;
  cursor: pointer;
}
.footers-bottom-last-text {
  word-spacing: 15px;
}

@media (max-width: 1061px) {
  .footers-top {
    gap: 5px;
  }
  .footers-top p a {
    font-size: 12px;
  }
}
@media (max-width: 990px) {
  .footers-top {
    grid-template-columns: repeat(4, 1fr);
  }
  .footers-top-consultations {
    display: none;
  }
  .footers .footer-top-consultations {
    display: flex;
  }
  .footers-bottom-last-text {
    display: none;
  }
}
@media (max-width: 768px) {
  .footers-top {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 490px) {
  .footers .footer-top-consultations-lasttext {
    display: none;
  }
  .footers-bottom p {
    width: 50%;
  }
  .footers-bottom-icons p {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 425px) {
  .footers-top {
    grid-template-columns: repeat(1, 1fr);
  }
  .footers-top-consultations {
    display: block;
  }
  .footers-top-consultations-up {
    padding: 25px 0;
  }
  .footers-top-consultations-down {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }
  .footers-top-consultations-last-text {
    display: block;
    text-align: center;
    word-spacing: 25px;
  }
  .footers .footer-top-consultations {
    display: none;
  }
  .footers-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footers-bottom p {
    width: 100%;
    padding: 20px 0;
  }
}
.f-bg {
  background-image: url(../images/natureTree.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.f-bg .malumot {
  position: absolute;
  bottom: 15px;
  font-weight: 800;
  color: white;
}
.f-bg-content {
  width: 350px;
  background-color: rgba(212, 227, 243, 0.2666666667);
  border-radius: 10px;
}
.f-bg-content-header {
  display: flex;
  align-items: center;
}
.f-bg-content-header h3 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-bg-content-header h3:nth-child(1) {
  border-radius: 10px 0 0 0;
}
.f-bg-content-header h3:nth-child(3) {
  border-radius: 0 10px 0 0;
}
.f-bg-content-header-line {
  width: 2px;
}
.f-bg-content-forma-in {
  margin: 0 auto;
  padding: 15px 0;
  width: 95%;
}
.f-bg-content-forma-in input {
  width: 100%;
  margin-top: 15px;
}
.f-bg-content-forma-new {
  margin: 0 auto;
  padding: 15px 0;
  width: 95%;
}
.f-bg-content-forma-new input {
  width: 100%;
  margin-top: 15px;
}
.f-bg-content-forma-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}
.f-bg-content-forma-footer button {
  width: 70%;
  border: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 350px) {
  .f-bg-content {
    width: 300px;
  }
  .f-bg-content-forma-footer button {
    padding: 7px 0;
    font-weight: 400;
  }
}
@media (max-width: 273px) {
  .f-bg-content {
    width: 200px;
  }
  .f-bg-content-header h3 {
    font-weight: 400;
    font-size: 16px;
  }
  .f-bg-content-forma-footer button {
    font-weight: 400;
    font-size: 16px;
  }
}
@media (max-width: 273px) {
  .f-bg-content {
    width: 150px;
  }
  .f-bg-content-header h3 {
    font-weight: 400;
    font-size: 12px;
  }
  .f-bg-content-forma-footer button {
    font-weight: 400;
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */